<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thirty Seconds to Mars | Echelon Area</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is the description">
        <link rel="icon" href="/Images/mars-icon.png" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/styles.css">
    </head>

    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="/index.html">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="/about.html">ABOUT</a></li>
                    <li><a href="/fans">FANS</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/users/login">LOGIN</a></li>
                </ul>
            </nav>
        </header>

    <section class="container content-section dashboard">
        <h1>Welcome, <%= name %>!</h1>
        <hr>
        <h1>Check out our latest music video - Walk on Water. We can't make it without you guys! Thank you!</h1>
        <iframe id="youtube" width="1000" height="560" src="https://www.youtube-nocookie.com/embed/FA2w-PMKspo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h1>We are going to send 100 singles on July 4th, send us a message on contact page: tell us what America means to you?</h1>
        <img src="/Images/echelon3.jpg">
        <h1>We had so much fun at LA concert, were you with us?</h1>
        <img src="/Images/echelon2.jpg">
        <h1>Remember those who sacrificed for our country.</h1>
        <img src="/Images/echelon1.png">
        <hr>
        <a href="/users/logout" class="btn btn-primary">Log out</a>
    </section>

    <footer class="main-footer">
        <div class="container main-footer-container">
            <ul class="nav footer-nav">
                <li>
                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0RqtSIYZmd4fiBKVFqyIqD?si=LhjFFS4gSWGcidMKJvN7zA&size=detail&theme=dark" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                </li>
                <li>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="/Images/YouTube Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="/Images/Facebook Logo.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>